%h2 Surf spots
%p
  Listing all the surf spots. 
  = link_to 'Add a spot', resource(:surfspots, :new)
%ul.surfspot-list
  - if @surfspots.empty?
    %li There are no surf spots
  - else
    - for surfspot in @surfspots
      %li
        = link_to surfspot.name, url(:surfspot, surfspot)
        %em= link_to '[edit]', resource(surfspot, :edit)
        %em= link_to '[destroy]', resource(surfspot, :delete)