!!! Strict
%html{ html_attrs("en_us") }
  %head
    %title
      Surf spots!
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %link{ :href => "/stylesheets/master.css", :rel => "stylesheet", :media => "screen,projection", :type => "text/css", :charset => "utf-8" }/
    %script{ :src => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAquuU61Din3_MSxp58BcEwhQHel93xHRdejQ9enLeEHCFouezGhT5mtP5fkEvScIIqpaCgyNiQX1IAg", :type => "application/javascript" }
    %script{ :src => "/javascripts/jquery-1.2.6.min.js", :type => "application/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/application.js", :type => "application/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/markermanager.js", :type => "application/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/jquery.jmap.js", :type => "application/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/map.js", :type => "application/javascript", :charset => "utf-8" }
    %script{ :src => "/javascripts/jquery.form.js", :type => "application/javascript", :charset => "utf-8" }

  %body
    .container
      .header
        %h1
          Surf spots
      .content
        = catch_content :for_layout